.footer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    height: 65px;
    width: 97%;
    background-color: #282828;
    padding: 20px;
}

.footer__left {
    display: flex;
    align-items: center;
    color: white;
    width: 300px;
}
.footer__songInfo {
    h4 {
        margin-bottom: 5px;
    }
    p {
        font-size: 12px;
    }
    .songRow:hover {
        cursor: unset;
        background-color: unset;
        opacity: unset;
    }
}
.footer__icon:hover,
.footer__green:hover {
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2) !important;
}
.footer__green {
    color: #1db954;
}
.footer__center {
    padding: 0 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
}
.footer__right {
    padding: 0 100px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
    & * .MuiSlider-root {
        color: #1db954;
    }
}
